{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% load static %}
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    {% load static %}
    <script href="{% static "js/script.js" %}"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">checkNews.org</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            </div>

            <form class="form-inline float-right">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">#</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Latest" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    </form>
            </nav>



    <div class="container-fluid">